@model Buffet.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Políticas de Privacidade";
}

<div class="container">
    <p>
    Lorem ipsum mattis duis suspendisse platea odio per posuere ante semper lectus, proin etiam quam etiam elementum curae eleifend aliquet quisque ornare, feugiat fusce congue dolor quis volutpat ut elementum fringilla fermentum. 
    nostra gravida tristique elit per dapibus ipsum purus habitasse egestas, accumsan vulputate varius auctor morbi in cursus. 
    fusce quisque phasellus imperdiet iaculis fusce velit aptent, felis convallis neque etiam torquent inceptos mollis condimentum, habitasse lectus morbi cubilia fringilla integer. 
    magna eu gravida facilisis dui nisi tortor ut nisl tortor dui, nam diam rhoncus scelerisque netus lorem eros litora quam viverra ligula, enim fames libero integer congue odio erat a odio. 
    </p>
    <p>
    Tempor vehicula consequat nullam facilisis habitasse taciti libero tempus tincidunt non arcu donec, praesent ante euismod aliquet mauris hendrerit ac curae eget interdum tortor. 
    inceptos purus felis vel nunc orci aenean elementum lectus turpis, donec volutpat habitant bibendum et congue euismod congue conubia, magna aenean lectus fames congue aliquet mollis augue. 
    eget pellentesque ligula dictumst aliquam sem maecenas condimentum ullamcorper urna eget egestas, sollicitudin in ultricies quam aptent nam sagittis laoreet sit vehicula. 
    tempor cras scelerisque quam hac conubia bibendum eros, sed ornare neque turpis porttitor nisi gravida, porta ligula justo ipsum morbi mi. 
    </p>
    <p>
    Elementum himenaeos curae morbi hendrerit conubia odio platea pharetra quisque elit, interdum nisi euismod eros euismod aliquam blandit sollicitudin laoreet quam, ad mollis nunc tellus diam pretium class tempor nostra. 
    vestibulum cubilia aliquam sapien nostra proin auctor vulputate augue ornare donec ante orci massa, nostra magna at netus habitant arcu placerat maecenas integer amet diam pellentesque. 
    imperdiet libero ligula arcu curabitur habitasse tempus consequat senectus, velit inceptos eget urna nam ut consectetur. 
    velit tellus vivamus augue auctor sapien sem fringilla ante eleifend, pellentesque aptent bibendum habitant nostra accumsan per interdum dolor fusce, molestie vel convallis lobortis porta aliquet consequat primis. 
    </p>
    <p>
    Dui at ac, rutrum. 
    </p>
</div>